*{
    margin:0;
    padding:0;
}
body{
    background-color: #FFFFFF;
    font: 400 14px/18px 'Lato';
    /*font weight 400,font size 14,font height 18, font family:lato*/
    color:#353737;
    /*dinh nghia chung cho toan trang*/
}
header,section{
    float:left;
    width:100%;
}
header{
    background-color:white;
    padding:30px;/*co the dung margin nhung nen sd padding*/
}
.container{
    width: 1000px;
    margin: 0 auto;
    /*mac dinh width va margin la mot cap*/
}

.header-left{
    width:30%;
    float :left;
}
.header-left #logo{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.header-left #cham{
    color: #FF0000;
    font-size: 30px;
}
.header-right{
    width:60%;
    float:right;
}
.header-right ul > li{
    float:left;
    list-style:none;
    /*cach nhau ra thuong dung width don gian hon se dung width*/
    margin-right:15px;
}
.header-right ul>li #home{
    color: black;
}
.header-right li a{
    color:grey;
    text-decoration:none;
    text-transform:capitalize;
    transition:color 300ms;
    line-height:1.5;
    font-size:16px;
    margin-top: 30px;
}
section {
    background-color: gainsboro;
}

.container-left{
    width: 60%;
    float: left;
    overflow: auto;
}
.container-left #content{
    background-color: #FF0000;
    color: #FFFFFF;
    margin-top: 12px;
    padding: 45px;
    border: 1px solid #88edff;
}
.container-left #content1{
    background-color: #FFFFFF;
    border: black;
    color: black;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #88edff;
    overflow: auto;
}
#content1 .phan1{
    text-transform: uppercase;
    margin-top: 30px;
}
#content1 .thongtin a{
    color: darkgray;
    text-decoration: none;
    margin-top: 30px;
}
#content1 .thongtin{
    margin-top: 30px;
}
#content1 .vanban{
    margin-top: 15px;
}
.thongtin .icon{
    color: darkgrey;
}
#content2 .phan1{
    text-transform: uppercase;
    margin-top: 30px;
}
#content2 .thongtin a{
    color: darkgray;
    text-decoration: none;
    margin-top: 20px;
}
#content2 .thongtin{
    margin-top: 30px;
}
#content2 .vanban{
    margin-top: 15px;
}
.container-left #content2{
    background-color: #FFFFFF;
    border: black;
    color: black;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #88edff;
    overflow: auto;
}
.art-btn{
    float:right;
    width: 100%;
}
.art-btn a.btn{
    float: left;
    color: #FFFFFF;
    background-color: red;
    text-decoration: none;
    text-transform: capitalize;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 30px;
}
.art-btn a.btn:hover {
    color: darkorange;
    background-color: #75bd82;
}
.container-right{
    width: 30%;
    float: left;
    overflow: auto;
}
.container-right .lephai1{
    border: 1px solid #88edff;
    background-color: #FFFFFF;
    margin: 10px;
    padding: 20px;
}
.container-right .lephai2{
    border:1px solid #88edff;
    background-color: #FFFFFF;
    margin:10px;
    padding: 20px;

}
.lephai1.icon{
    text-decoration: none;
    text-transform: uppercase;
}
.lephai1 a{
    text-decoration: none;
    text-transform: uppercase;
}
.lephai2 a{
    text-decoration: none;
    text-transform: uppercase;
}
.lephai1 #hihi {
    padding: 30px;
}
.lephai2 #haha{
    padding: 30px;
    font-size: 15px;
}