h1{
    color: -internal-root-color;
    font-size: 50px;
    font-family:Helvetica;
    text-align: left;/*left justify center right*/
    text-transform: lowercase;/*lowercase uppercase capitalize none*/
    font-weight: 800;
    text-decoration: none;/*underline overline line-through none*/
    margin-left: auto;
    margin-right: auto;
}
p{
    color:black;
    font-size: 15px;
    text-align: left;
    line-height: 20px;
    font-weight: 800;/*100thin 300light 400normal 500milion 600semibold 700bold 800extrabold 900extrabold*/
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
img {
    width: 700px;
    /*height:200px*/
    height: auto;
    max-width: 700px;
}